# ==============================
# Requisitos del proyecto ZODAS
# ==============================
# NOTA (Colab/Linux): para el solver CBC instala además el binario del solver
#   !apt-get -y install coinor-cbc
# o usa otro solver compatible si lo prefieres.

# Núcleo de la app
# Core app
streamlit==1.29.0
pandas==2.2.2
numpy==1.26.4
scipy==1.11.4
scikit-learn==1.3.2
imbalanced-learn==0.11.0
matplotlib==3.8.4
seaborn==0.13.2
altair==5.2.0
plotly==5.24.1
pulp==2.7.0

# Utilidades / EDA
requests==2.32.3

# Análisis multivariado
mca==1.0.3
prince==0.12.0

# ML extra (opcional; tiene wheel para 3.11)
xgboost==2.0.3

# Kaggle
kagglehub==0.3.4

# Graphviz (si SOLO generas DOT a archivo; para renderizar imágenes quizá necesites 'packages.txt' con graphviz)
graphviz==0.20.3
